@charset "UTF-8";

*,
*:before,
*:after {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark,
audio, video {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

a {
	color: #f05d1a;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
	display: block;
}

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeueW01-45Ligh", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	line-height: 1;
}

ol, ul {
	list-style: none;
}

b, strong {
	font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeueW01-65Medi", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 16px;
	font-style: normal;
}

body {
	background-color: #fff;
	margin: 0;
	min-height: 100%;
	overflow-x: hidden;
	padding-bottom: 250px;
	padding-top: 140px;
	position: relative;
	width: 100%;
}

h1 {
	font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeueW01-Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 64px;
	font-style: normal;
	margin-left: auto;
	margin-right: auto;
	max-width: 840px;
	padding-left: 30px;
	padding-right: 30px;
	color: #333;
	margin-bottom: 32px;
	text-align: center;
}

h2 {
	font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeueW01-Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 26px;
	font-style: normal;
	color: #f05d1a;
	margin-bottom: 13px;
}

h3 {
	font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeueW01-Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 20px;
	font-style: normal;
	color: #777;
	margin-bottom: 10px;
}

h4 {
	font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeueW01-Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 14px;
	font-style: normal;
	color: #777;
	margin-bottom: 10px;
}

html {
	height: 100%;
	overflow-x: hidden;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

i, em {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeueW01-45Ligh", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 16px;
	font-style: italic;
}

li {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeueW01-45Ligh", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 16px;
	font-style: normal;
	color: #333;
	line-height: 1.4;
}

p {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeueW01-45Ligh", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 16px;
	font-style: normal;
	color: #333;
	line-height: 1.4;
	margin-bottom: 10px;
}

.wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: 840px;
	padding-left: 30px;
	padding-right: 30px;
	position: relative;
}

.wrapper:after {
	clear: both;
	content: "";
	display: block;
}
