.header {
	background-color: rgba(255, 255, 255, 0.97);
	border-bottom: 1px solid #c6c4b4;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
	left: 0;
	position: absolute;
	position: fixed;
	right: 0;
	z-index: 100;
	top: 0;
}

.header .logotype {
	bottom: -23px;
	display: inline-block;
	height: 65px;
	left: 20px;
	position: absolute;
}

.menu {
	float: right;
	height: 62px;
	padding-top: 10px;
	position: relative;
}

.menu:after {
	clear: both;
	content: "";
	display: block;
}
